html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: scroll;
    background-color:white;
}

.portbody {
    height: 200vh;
    overflow: scroll;
}

.container {
    .home{ 
        height: 100vh;
        .name {
            padding: 30vh 8vw 10vh;
            .letterE {
                fill: none; stroke:black; stroke-width: 2; stroke-miterlimit:10;
            }
            .letterR {
                fill: none; stroke:black; stroke-width: 2; stroke-miterlimit:10;
            }
            .letterI1 {
                fill: none; stroke:black; stroke-width: 2; stroke-miterlimit:10;
            }
            .letterC {
                fill: none; stroke:black; stroke-width: 2; stroke-miterlimit:10;
            }
            .letterJ {
                fill: none; stroke:black; stroke-width: 2; stroke-miterlimit:10;
            }
            .letterI2 {
                fill: none; stroke:black; stroke-width: 2; stroke-miterlimit:10;
            }
            .letterA {
                fill: none; stroke:black; stroke-width: 2; stroke-miterlimit:10;
            }
            .letterN {
                fill: none; stroke:black; stroke-width: 2; stroke-miterlimit:10;
            }
            .letterG {
                fill: none; stroke:black; stroke-width: 2; stroke-miterlimit:10;
            }
        }
    }
    .chevron {
        cursor: pointer;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
        margin-bottom: 0em;
        padding-bottom: 0em;
        height: 5vw;
        width: 5vw;
        .chevron1 {
            fill:none; stroke:black; stroke-width:3; stroke-miterlimit:10;
        }
        .chevron2 {
            fill:none; stroke:black; stroke-width:3; stroke-miterlimit:10;
        }
        .chevron3 {
            fill:none; stroke:black; stroke-width:3; stroke-miterlimit:10;
        }
    }
    .about {
        height: 100vh;
        .text {
            width: 60%;
            padding-left: 20%;
            padding-right: 20%;
            padding-top: 20vh;
            padding-bottom: 10vh;
            line-height: 2rem;
            color: black;
            
        }
    }
    .port {
        padding-top: 10vh;
        .portfolio {
            width: 60%;
            padding-left: 20%;
            padding-right: 20%;
            column-count: 2;
            column-gap: 13px;
            .pic {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
            .portcolumnone {
                display: grid;
                grid-template-rows: auto;
                break-inside: avoid;
            }
            .portcolumntwo {
                display: grid;
                grid-template-rows: auto;
                break-inside: avoid;
            }
        }
    }
}